<!doctype html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

<title>Patina Generator</title>
<h2>Patina电子包浆生成器</h2>



<h4>1. 选择图片文件上传</h4>
<div>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</div>
<div class="contentupload">
	<form method="post" action="/" enctype="multipart/form-data">
		<p>
			<input id="fileupload" type="file" name="file" autocomplete="off" required>
		</p>
	    <p>
			<input id="filesubmit" type="submit" value="上传">
		</p>
	</form>
</div>

<footer>
  <p class="footerp">Inspired by: <a href="https://github.com/m13253/JPEGreen">Star Brilliant - JPEGreen</a></p>
  <p class="footerp">Copyright 2021 © <a href="https://mvfki.github.io/">Yichen Wang</a></p>
</footer>
